/api-ciscocdr/appsettings.json
/.vs/api-ciscocdr/v16/Server/sqlite3/db.lock
/.vs/api-ciscocdr/v16/Server/sqlite3/storage.ide
/.vs/api-ciscocdr/v16/Server/sqlite3/storage.ide-shm
/.vs/api-ciscocdr/v16/Server/sqlite3/storage.ide-wal
/api-ciscocdr/appsettings.Development.json
bin
